@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Bangers');

body {
    font-family: 'Poppins';
    font-size: 2rem;
    line-height: 3rem;
}

h1, h2, h3 {
    font-family: 'Bangers';
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

a {
    color: #4B6F6F;
    text-decoration: underline;
}

a:hover {
    color: #000000;
}

.cta-btn {
    padding: 2rem, 4rem;
    background-color: #4B6F6F;
    color: #ffffff;
}

.cta-btn:hover {
    background-color: #BCCCCC;
    color: #4B6F6F;
}

.cta-btn:active {
    background-color: #000000;
    color: #ffffff;
}

.label {
    padding: 1rem 3rem;
    margin-right: 5px;
    background-color: #BCCCCC;
    color: #000000;
    border-radius: 50px;
}

.label:hover {
    background-color: #ffffff;
}

.label:active {
    background-color: #4B6F6F;
    color: #ffffff;
}